:root {
    --link-color: #90B030;
    --btn-radius: 10px;
    --solid-bg-color: #90B030;
    --solid-txt-color: #ffffff;
    --outline-bg-color: #ffffff;
    --outline-txt-color: #90B030;
    --outline-color: 1px solid #90B030;
    --img-radius: 50%;
}
.App {
    padding: 20px;
}
* {
    margin: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.nav-links-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
a {
    text-decoration: none;
    color: var(--link-color);
    margin: 10px;
    cursor: pointer;
}